/* Styles for the external CSS file */
h1 {
    text-align: center;
    color:#07baf5;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
h2 {
    color: #086382;
    text-align: left;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
p {
    color: #013B4F;
    text-align: justify;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}